@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


*{
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
}

/* Disable text selection */
.no-select {
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Standard syntax */
}

.custom-side-bg .bg-gray-50 {
    background-color: #2C3E50  !important;
}